<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Projar{% endblock %}</title>
        {% block stylesheets %}
              <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
           {% block body %}{% endblock %}
        {% block javascripts %}
         <script type="text/javascript" src="{{ asset('assets/js/jquery-3.2.1.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
