<div class="container navHome">
        <button class=" btnNav" id="staff">Staff Hub <span class="pull-right arrow">></span></button>
        <div class="subStaff ">
            <button class="btnSubNav" id="subStaff1">Staffs</button>
            <button class="btnSubNav" id="subStaff2">Add Staff</button>
        </div>
        <button class=" btnNav" id="team">Team Hub <span class="pull-right arrow">></span></button>
        <div class="subTeam ">
            <button class="btnSubNav" id="subTeam1">Teams</button>
            <button class="btnSubNav" id="subTeam2">Add Team</button>
        </div>
        <button class=" btnNav" id="project">Project Hub <span class="pull-right arrow">></span></button>
         <div class="subProject ">
            <button class="btnSubNav" id="subProject1">Projects</button>
            <button class="btnSubNav" id="subProject2">Add Project</button>
        </div>
        <button class=" btnNav" id="milestone">Milestone Hub <span class="pull-right arrow">></span></button>
        <div class="subMilestone ">
            <button class="btnSubNav" id="subMilestone1">Milestones</button>
            <button class="btnSubNav" id="subMilestone2">Add Milestone</button>
        </div>
        <button class=" btnNav" id="task">Task Hub <span class="pull-right arrow">></span></button>
        <div class="subTask ">
            <button class="btnSubNav" id="subTask1">Tasks</button>
            <button class="btnSubNav" id="subTask2">Add Task</button>
        </div>
    </div>